<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>811431214268-o3c5cf6quj8cvcch0gdkniju8a8dgd2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811431214268-o3c5cf6quj8cvcch0gdkniju8a8dgd2p</string>
	<key>API_KEY</key>
	<string>AIzaSyCqPaM4Df__4cFup9sSXMCxko8oyt8uxNU</string>
	<key>GCM_SENDER_ID</key>
	<string>811431214268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mangoRabbin.mangoFirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>studyfirebase-690b9</string>
	<key>STORAGE_BUCKET</key>
	<string>studyfirebase-690b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811431214268:ios:0f74463858f6865f</string>
	<key>DATABASE_URL</key>
	<string>https://studyfirebase-690b9.firebaseio.com</string>
</dict>
</plist>